@import '../../styles/variables';

.flatButton {
  color: var(--primary);
  font-size: size(m);
  font-weight: font-weight(regular);
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  margin-top: 10px;
  border: 1px solid var(--primary);
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background:  var(--primary);
    color: var(--mono700);
  }
}