@use '../../../styles/theme';
@import '../../../styles/variables';

.navBar {
	background: theme.background(accent);
	min-height: 70px;
	width: 100%;
	position: relative;
  display: inline-block;

  .iconsContainer {

    .menuIcon {
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      color: var(--primary);
      width: 25px;
      height: 25px;
      margin-left: 15px;
      transition: opacity 400ms;
      z-index: 2;
    }
  }


  .menu {
    width: 100%;
    position: absolute;
    display: block;
    background: theme.background(accent);
    transition: opacity 400ms ease;
    z-index: 1;


    nav {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 50px;

      a {
        font-size: 22px;
        color: var(--mono800);
        display: block;
        margin-left: 15px;
        margin-top: 25px;
        margin-bottom: 25px;
        letter-spacing: 2px;
        font-family: sans-serif;
      }

      svg {
        margin-right: 15px;
      }



      a.active {
        color: var(--primary);
        svg {
          color: var(--primary);
        }
      }
    }

    
  }

  .close {
    opacity: 1;
  }

  .open {
    opacity: 0;
    z-index: -1;
  }

 

 



}