@import '../../styles/variables';
@import '../../styles/shared/animations';

.letters {
  color: var(--white);
  font-size: 53px;
  margin: 0;
  font-family: var(--primaryFont);
  font-weight: font-weight(regular);
  letter-spacing: 2px;
}

h2 {
  color: var(--mono700);
  margin-top: 20px;
  font-weight: font-weight(regular);
  font-size: size(m);
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}